.matches{
    font-variant: small-caps;
}
.date-place{
    font-size: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.place-col{
    
    font-size: 2rem;
}

.players{
    font-size: 1.5rem;

}