.main-content {
  padding: 15rem;
  margin: 0;
  align-content: center;
  align-items: center;
}

.row_week {
  background-color: #33173C;
  border-radius: 1.5rem;
  padding:  4.25rem 0;
  max-width: 100%;
  max-height: 100%;
  color: #f5edf4;
  align-items: center;
}

.row_standings {
  
  align-items: center;
}

.week-team h3 {
  color: #f5edf4;
  font-weight: bold;
  font-size: 2.5rem;
  text-align: center;
  margin: 0 0 0 2.5rem;
  padding: 0;
}
.week_team {
  display: flex;
  position: relative;
  width: 60%;
  height: 100%;
  background-image: url("../../../assets/mainPageField.png");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  padding: 3.5rem;
}

.sponsor_container {
  margin-top: 2rem;
  border-radius: 1rem;
  padding: 1.5rem;
  font-size: 3rem;
  text-align: center;
}

.position_container {
  display: flex;
  gap: 3rem;
}

@media (max-width: 768px) {
  .week_team {
    padding: 1rem;
    width: 90%;
    height: 80%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }

  .week-team h3 {
    color: #f5edf4;
    font-weight: bold;
    font-size: 1.5rem;
    text-align: center;
    margin: 0 0 0 2.5rem;
    padding: 0;
  }

  .main-content {
    padding: 15rem;
    margin: 0;
    align-content: center;
    align-items: center;
    display: flex;
    justify-content: center !important;
    
    flex-direction: column;
  }

}
