.main-content {
  padding: 5rem;
  margin: 0;
  align-content: center;
  align-items: center;
}

.row_week {
  background-color: #359c4c;
  border-radius: 1.5rem;
  padding: 1rem;
  max-width: 100%;
  max-height: 100%;
  color: #f8f9fa;
  align-items: center;
}


.week_team {
  display: flex;
  position: relative;
  width: 60%;
  height: 100%;
  background-image: url("../../../assets/mainPageField.png"); /* Ruta de tu imagen */
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  padding: 3.5rem;
}

.sponsor_container {
  margin-top: 2rem;
  background-color: #f8f9fa;
  border-radius: 1rem;
  padding: 1.5rem;
  font-size: 3rem;
  text-align: center; /* Centrado del texto */
}

.position_container {
  display: flex;
  gap: 3rem; /* Reemplazamos grid-gap con flexbox gap */
}

/* Media query para pantallas pequeñas */
@media (max-width: 768px) {
  .round_container {
    display: block; /* Cambia el layout a block para pantallas pequeñas */
    gap: 50px;
  }

  .row_week {
    display: block; /* Cada componente ocupará toda la fila */
  }

  .position_container {
    flex-direction: column; /* Cambia el layout de las posiciones a columnas */
  }
}
