.standings{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #33173C;
    border-radius: 1.5rem;
    color: #f5edf4;
    width: 36rem;
}

.standings h3{
    color: #f5edf4;
    font-weight: bold;
    font-size: 3.5rem;
    text-align: center;
    padding: 3rem;
}

.home-standings{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 30rem;
    margin: 2rem;
}

.standings-card{
    display: flex;
    background-color: #33173C;
    border-radius: 1.5rem;
    margin-bottom: 7rem;
}

.standings-card h4{
    color: #f5edf4;
    font-weight: bold;
    font-size: 2.5rem;
}