.custom-caption {
    bottom: 20px; 
    z-index: 10; 
  }
  
  .caption-background {
    background: rgba(0, 0, 0, 0.6); 
    padding: 10px 15px;
    border-radius: 10px; 
  }
  
  .caption-background h3, .caption-background p {
    color: #fff; 
    margin: 0;
  }
  