.custom-caption {
    bottom: 90px; 
    z-index: 10; 
    color: #f72adc; 
    background-color: #33173ccc;
    padding: 10px 15px;
    border-radius: 10px;
  }
  
  .caption-background {
    background: #33173C; 
    padding: 10px 15px;
    border-radius: 10px; 
  }
  
  .caption-background h3, .caption-background p {
    color: #F5EDF4; 
    margin: 0;
  }
  
  .videos{
    width: 70vw;
    padding: 2rem;
    margin: 0;
    text-align: center;
    
  }