* {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
  box-sizing: border-box;
  
}

html, body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  width: 99vw;
  text-transform: uppercase;
  background-color: #F5EDF4;
}
.banner-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100vw;
  padding: 0;
}




a {
  padding: 0.5rem;
  color: #F5EDF4;
  text-decoration: none;
}

a:visited {
  color: #F5EDF4;
}
a:hover {
  transform: scale(1.15);
  text-decoration: none;
}


h2 {
  color: #F5EDF4;
  margin-bottom: 1rem;
  font-size: 24px;
  text-align: center;
}

form {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.input-group {
  display: flex;
  align-items: center;
  gap: 1rem;
}

label {
  font-weight: bold;
  flex: 1;
}

input[type="text"],
input[type="password"],
button {
  width: 100%;
  font-size: 18px;
  padding: 0.75rem;
  border: 1px solid #ccc;
  border-radius: 0.5rem;
  background-color: #3e79bc9c;
  color: #fff;
  transition: border 0.3s;
}

input:focus,
button:focus {
  border: 1px solid #3e79bcfd;
  outline: none;
}

button {
  background-color: #3e79bc;
  color: #fff;
  cursor: pointer;
  padding: 0.75rem;
  border: none;
  border-radius: 0.5rem;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #0056b3;
}

button:disabled {
  background-color: #6c757d;
  cursor: not-allowed;
}

.instructions {
  font-size: 0.75rem;
  background: rgba(0, 0, 0, 0.8);
  color: #fff;
  padding: 0.5rem;
  border-radius: 0.5rem;
  width: 15rem;
  overflow: hidden;
  transition: opacity 0.3s;
}

.offscreen {
  position: absolute;
  left: -9999px;
}

.hide {
  display: none;
}

.valid {
  color: #67fa0cc5;
  margin-left: 0.5rem;
}

.invalid {
  color: red;
  margin-left: 0.5rem;
}

.errmsg {
  background-color: #3e6cbc7c;
  color: #ff2121d2;
  font-weight: bold;
  padding: 0.5rem;
  margin-bottom: 0.5rem;
  border-radius: 0.5rem;
}

.line {
  display: inline-block;
  margin-top: 1rem;
}

.linkContainer {
  margin-top: 1rem;
}

.showPwd:hover {
  cursor: pointer;
  color: rgb(50, 166, 205);
}

.pwdForgot {
  margin-top: 1rem;
  text-align: center;
}

.persistCheck {
  margin: 0;
}

@media (max-width: 600px) {
  html {
    font-size: 16px;
  }

  h1 {
    font-size: 20px;
  }

  input[type="text"],
  input[type="password"],
  button {
    font-size: 16px;
  }

  button {
    padding: 0.5rem;
  }
  .App {
    width: 90%;
    padding: 0.5rem;
    max-width: 100%;
  }
  label {
    font-size: 0.8rem;
  }
}
