.header {
  position: sticky;
  top: 0;
  background-color: #3e78bc;
  border-bottom: 5px solid #3e78bc;
  z-index: 1000;
  display: flex;
  flex-direction: column;
  justify-content: space-around !important;
  align-content: center;
}

.navbarHeader {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  padding: 0;
}

.containerHeader.container {
  color: white;
  margin: 0;
  font-size: 1.35rem;
  font-weight: bold;
  display: flex;
  flex-direction: row;
}

.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.navbar-brand {
  border: 1rem transparent;
  margin: 0 2rem;
}

.logo {
  width: 4rem;
  height: 6rem;
  padding: 0;
  border: 2rem transparent;
  margin-left: 0.5rem;
  margin-right: 3rem;
  filter: grayscale(100) brightness(39);
}

.logo:hover {
  filter: grayscale(0) brightness(100);
  transform: scale(1.05);
}
.nav-item  {
  width: 22rem;
  margin: 0;
  display: flex;
  align-items: center;
}
.nav-item a {
  width: 100%;
  padding: 0;
  text-align: justify;
  color: #F5EDF4 !important;
}

.navbar-collapse.collapse {
  display: none; /* Oculta el contenido por defecto */
  justify-content: space-between;
  padding: 0.25rem;
  align-items: baseline;
  margin: 0;

}

.navbar-collapse.show {
  display: flex !important; /* Muestra el contenido al hacer clic en el toggle */
  flex-direction: column;
  justify-content: space-between;
  padding: 0.5rem;
}

.navbar-toggler {
  max-width: 3.5rem;
  padding: 2.5rem;
  border: 3rem transparent;
  margin: 0 2rem;
  
}

/* Hover para los enlaces de navegación */
.navbar-collapse.collapse a:hover {
  transition: color 0.1s ease-in-out;
  transform: scale(1.02);
}

